@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0c0f23;
  --light-background: #1c2238;
  --card: #030518;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light-background: var(--light-background);
  --color-card: var(--card);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0f23;
    --foreground: #ededed;
    --light-background: #1c2238;
    --card: #030518;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Times New Roman", Times, serif;
}
