@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #0c0f23;
  --light-background: #1c2238;
  --card: #030518;
  --dark-purple: #300270;
}

.dark {
  --background: #0c0f23;
  --foreground: #ffffff;
  --light-background: #1c2238;
  --card: #030518;
  --dark-purple: #300270;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light-background: var(--light-background);
  --color-card: var(--card);
  --color-dark-purple: var(--dark-purple);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (min-width: 768px) {
  .animate-float {
    animation: float 5s ease-in-out infinite;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Times New Roman", Times, serif;
}
